#scroll {
    height: 50vh;
}

.hide-down {
    transition: 1s;
    opacity: 0;
    transform: translateY(50px);
}
.show {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}
#gallery .hide-down:nth-child(2) {
    transition-delay: 0.2s;
}
#gallery .hide-down:nth-child(3) {
    transition-delay: 0.3s;
}
#gallery .hide-down:nth-child(4) {
    transition-delay: 0.4s;
}